.password-change-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 600px;
    height: 600px;
    margin-left: 160px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    background-color:azure;
  }
  
  .password-change-container h2 {
    margin-top: 20;
    margin-left: 100;
    
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form-group label {
    margin-bottom: 5px;
  }
  
  .form-group input {
    height: 30px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  .form-group input:focus {
    outline: none;
    border-color: blue;
  }
  
  .form-group button {
    height: 40px;
    font-size: 16px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-group button:hover {
    background-color: darkblue;
  }