<div class="password-change-container">
    <h2>Change Password</h2>
    <form>
        <div class="form-group">
            <label for="username">username:</label>
            <input type="text" id="username" name="username" [(ngModel)]="username" required>
          </div>
      <div class="form-group">
        <label for="oldPassword">Old Password:</label>
        <input type="password" id="oldPassword" name="oldPassword" [(ngModel)]="oldPassword" required>
      </div>
      <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
      </div>
      <div class="form-group">
        <button (click)="changePassword()">Change Password</button>
      </div>
    </form>
  </div>
  